@import 'style.scss';
.login{
  background-color: $main;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  .logo{
    margin-bottom: 40px;
  }
}
.btn{
  border-radius: 10px;
}
