@import 'style.scss';
.login{
  background:url('../../../assets/img/bg.png');
  background-size: cover;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .logo{
    margin-bottom: 40px;
  text-align: center;

  }
}
.btn{
  border-radius: 10px;
}
