<section class="main">
  <div class="section-heading">
    <div class="d-flex justify-content-between align-items-center">
      <h4>
        {{'Notifications' | translate}}
      </h4>
      <!-- <img src="assets/img/icons/menu.svg" alt="menu" class="dropdown-toggle" type="button" id="dropdownMenuButton1"
        data-bs-toggle="dropdown" aria-expanded="false"> -->

      <!-- <ul class="dropdown-menu py-0" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item">Make all as read</a></li>
      </ul> -->
    </div>
  </div>

  <div class=" px-3 py-4">
    <div class="content">
      <div *ngFor="let item of items ; let i = index">
        <div class="box" [class.unread]="item.isRead == false">
          <p [routerLink]="['/page/notification-details/'+ item.id]" (click)="makeNotificationRead(item.key)"
            [queryParams]="{title:item.title,body:item.body}" routerLinkActive="router-link-active">
            {{item.title}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <a (click)="scrollToTop()" class="
    back-to-top-icon
    rounded-xs
    back-to-top-icon-circle
    bg-highlight
    shadow-m
  " style="transform: scale(1); position: fixed !important">
    <img src="assets/img/icons/icons8-up-24.png" alt="add">
    <!-- <img src="assets/img/icons/up-arrow.svg" alt="add"> -->
    <!-- <svg class="bi bi-arrow-up"></svg> -->
    <!-- Up -->
    <!-- <img src="assets/img/icons/home-icon.svg" alt="home"> -->
    <!-- <i class="fa fa-angle-up"></i> -->
  </a>
  <div *ngIf="isLoading" class="loader">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</section>