<section class="main">
  <div class="section-heading">
    <h4>
      Plans
    </h4>
  </div>
  <div class="page-bar">
    <div class="d-flex justify-content-end">
      <div class="icons" (click)="toggle()">
        <img src="assets/img/icons/list.svg" alt="list" *ngIf="!grade">
        <img src="assets/img/icons/grid.svg" alt="grid" *ngIf="grade">
      </div>
    </div>
  </div>

  <app-card-view [items]="items" (showCompleted)="showCompleted($event)" *ngIf="grade"></app-card-view>
  <app-date-view [items]="itemsDateView" (showCompletedDateView)="showCompletedDateView($event)" *ngIf="!grade"></app-date-view>
</section>
