<section class="main">
  <div class="section-heading">
    <h4>
      Settings
    </h4>
  </div>
  <div class=" px-3 py-4">
    <div class="content">
      <div class="mb-2">
        <p class="label">
          Username
        </p>
        <p class="data">
          Assem Mostafa
        </p>
      </div>
      <div class="mb-2">
        <p class="label">
          Email address
        </p>
        <p class="data">
          assem.mostafa@gmail.com
        </p>
      </div>
      <div class="d-flex justify-content-between align-items-center control mt-4">
        <h6>
          Language
        </h6>
        <div class="d-flex align-items-center ">
          <p class="btn  dropdown-toggle" role="button" id="Language" data-bs-toggle="dropdown" aria-expanded="false">
            English
          </p>

          <ul class="dropdown-menu px-3" aria-labelledby="Language">
            <li><a class="dropdown-item py-0 px-2">English</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item py-0 px-2">Arabic</a></li>
          </ul>
          <img src="assets/img/icons/right-chevron-icon.svg" alt="open">
        </div>
      </div>

      <div class="d-flex justify-content-between align-items-center control mt-4">
        <h6>
          Theme
        </h6>
        <div class="d-flex align-items-center ">

          <p class="btn  dropdown-toggle" role="button" id="theme" data-bs-toggle="dropdown" aria-expanded="false">
            Light
          </p>

          <ul class="dropdown-menu px-3" aria-labelledby="theme">
            <li><a class="dropdown-item py-0 px-2">Light</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item py-0 px-2">Dark</a></li>
          </ul>
          <img src="assets/img/icons/right-chevron-icon.svg" alt="open">
        </div>
      </div>
      <div class="mt-4">
        <h6 class="text-danger font-14" [routerLink]="['/login']" routerLinkActive="router-link-active">LOGOUT</h6>
      </div>
    </div>
  </div>
</section>
