<section class="main">
  <div class="section-heading">
    <h4>
      {{'Settings' | translate }}
    </h4>
  </div>
  <div class=" px-3 py-4">
    <div class="content">
      <div class="mb-2">
        <p class="label">
          {{'Username' | translate}}
        </p>
        <p class="data">
          {{userData?.username}}
        </p>
      </div>
      <div class="mb-2">
        <p class="label">
          {{'Email_address' | translate}}
        </p>
        <p class="data">
          {{userData?.userEmail}}
        </p>
      </div>
      <div class="d-flex justify-content-between align-items-center control mt-4">
        <h6>
          {{'Language' | translate}}
        </h6>
        <div class="d-flex align-items-center ">
          <p class="btn  dropdown-toggle" role="button" id="Language" data-bs-toggle="dropdown" aria-expanded="false">
            {{'English' | translate}}
          </p>

          <ul class="dropdown-menu px-3" aria-labelledby="Language">
            <li><a class="dropdown-item py-0 px-2" (click)="langChanged('en')">English</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item py-0 px-2" (click)="langChanged('ar')">العربية</a></li>
          </ul>
          <img class="rotateRtl" src="assets/img/icons/right-chevron-icon.svg" alt="open">
        </div>
      </div>

      <div class="d-flex justify-content-between align-items-center control mt-4">
        <h6>
          {{'Theme' | translate}}
        </h6>
        <div class="d-flex align-items-center ">

          <p class="btn  dropdown-toggle" role="button" id="theme" data-bs-toggle="dropdown" aria-expanded="false">
            {{'Light' | translate}}
          </p>

          <ul class="dropdown-menu px-3" aria-labelledby="theme">
            <li><a class="dropdown-item py-0 px-2"> {{'Light' | translate}}</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item py-0 px-2"> {{'Dark' | translate}}</a></li>
          </ul>
          <img class="rotateRtl" src="assets/img/icons/right-chevron-icon.svg" alt="open">
        </div>
      </div>
      <div class="mt-4">
        <h6 class="text-danger font-14" (click)="logout()" routerLinkActive="router-link-active">{{"LOGOUT" | translate}}</h6>
      </div>
      <div class="text-center my-3 version">
        {{'Version' | translate}} {{version}}
      </div>
    </div>
  </div>
</section>
