<section class="main pb-5">
    <div class="section-heading">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <div class="d-flex">
                    <img src="assets/img/icons/arrow-left-icon.svg" alt="back" class="me-3" (click)="back()">
                    <h4>
                        {{ title ? title : 'Notification' }}
                    </h4>
                </div>
            </div>

        </div>
    </div>

    <div class="content" role="main">
        <div class="col-10 m-4">
            {{ body ? body : 'Message' }}
        </div>
    </div>
</section>
