.p-relative{
  position: relative;
  .text{
    position: absolute;
    top: -56px;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
  }
}

.btn{
  img{
    filter: invert(1);
  }
  &.ft-chevron-left{
    img{
      transform: rotateY(180deg);
    }
  }
}
.ft-calendar{
  background-color: #00CCFF !important;
  img{
filter: contrast(0) brightness(20.5);
  }
}


mwl-calendar-month-view >>> .cal-days-of-week .cal-day-header {
  font-size: 12px;
  text-transform: uppercase;
  width: 3ch;  /* Limits to 3 characters */
  overflow: hidden;
  white-space: nowrap;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.day-header {
  flex: 1;
  text-align: center;
  font-weight: bold;
}