<section class="main">
  <div class="section-heading">
    <div class="d-flex">
      <img src="assets/img/icons/arrow-left-icon.svg" alt="back" class="me-3 rotateRtl" [routerLink]="['/page/home']"
        routerLinkActive="router-link-active">
      <h4>
        {{name ? name :'Category name'}}
      </h4>
    </div>
  </div>

  <a data-bs-toggle="modal" data-bs-target="#newModal" hidden #openModal></a>


  <div class="content px-3 py-4">
    <div class="mb-3" *ngFor="let item of items">
      <div class="white-box">
        <div class="box-content" [routerLink]="['/page/visits/'+item.formId]"
          [queryParams]="{categoryName: name , listName:item.formTitle , categoryId:item.categoryId}">
          <h5 class="font-14">
            {{item.formTitle}}
          </h5>
        </div>
        <div class="box-side" data-bs-toggle="modal" data-bs-target="#newModal"
          (click)="selectedItem = item">
          <div class="d-flex align-items-center">
            <p class="badge me-2" *ngIf="item.totalRecords">{{item.totalRecords}}</p>
            <img src="assets/img/icons/add-button.svg" alt="open">
            <!--  [routerLink]="['/page/checklist/'+item.formId]"
                 [queryParams]="{editMode: false ,Record_Id:item.record_Id , categoryName: name, listName:item.formTitle , categoryId:item.categoryId}" -->
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<div class="modal fade" id="newModal" tabindex="-1" aria-labelledby="deleteLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-center p-2 ">
        <h5 class="modal-title" id="deleteLabel">{{'Start_new' | translate}} {{selectedItem?.formTitle}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-floating ">
          <input class="form-control" id="floatingInput" placeholder="Name" [(ngModel)]="formRef" name="formRef">
          <label for="floatingInput"> {{'Record_reference' | translate}}</label>
        </div>

        <div class="d-flex justify-content-between align-items-center">
          <button type="button" class="btn btn-primary w-100 mt-4" data-bs-dismiss="modal"
            [routerLink]="['/page/checklist/'+selectedItem.formId]" routerLinkActive="router-link-active"
            [queryParams]="{editMode: false ,formRef:formRef, Record_Id:selectedItem.record_Id , categoryName: name, listName:selectedItem.formTitle , categoryId:selectedItem.categoryId}"
            [disabled]="!formRef">{{'Start' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
