<section class="forgot">
  <div class="w-100">
    <div class="logo">
      <img src="assets/img/logo.png" alt="logo">
    </div>
    <h5 class="text-white mb-3">{{'Reset_password' | translate}}</h5>
    <form [formGroup]="userForm">
      <div class="form-floating mb-2 has-icon">
        <input [type]="showPasswordText ? 'text' : 'password'" (keyup)="checkPasswords()" class="form-control" formControlName="password" id="floatingInput1" placeholder=" ">
        <label for="floatingInput">{{'New_Password' | translate}}</label>
        <div class="icon" (click)="showPassword()">
          <img src="assets/img/icons/view-icon.svg" alt="view">
        </div>
      </div>
      <div *ngIf="f.password.touched && (f.password.errors?.required)" class="text-danger text-start mt-2 font-12">
        {{'Required' | translate}}
      </div>
      <div *ngIf="f.password.touched && (f.password.errors?.pattern)" class="text-danger text-start mt-2 font-12">
        {{'pass_p' | translate}}
      </div>
      <div class="form-floating mb-2 has-icon">
        <input [type]="showPasswordText ? 'text' : 'password'" (keyup)="checkPasswords()" class="form-control" formControlName="confirmPassword" id="floatingInput2"
               placeholder=" ">
        <label for="floatingInput">{{'Confirm_Password' | translate}}</label>
        <div class="icon" (click)="showPassword()">
          <img src="assets/img/icons/view-icon.svg" alt="view">
        </div>
      </div>
      <div *ngIf="f.confirmPassword.touched && !same" class="text-danger text-start mt-2 font-12">
        {{'Confirm_p' | translate}}
      </div>
      <button type="submit" class="btn btn-secondary w-100 py-3" [disabled]="userForm.invalid || !same" (click)="resetPassword()">{{'Reset' | translate}}</button>
      <button class="btn w-100 py-3 text-white mt-3" [routerLink]="['/login']">{{'Cancel' | translate}}</button>
    </form>
  </div>
</section>
