<section class="forgot">
    <div class="w-100">
        <div class="logo">
            <img src="assets/img/logo.png" alt="logo">
        </div>
        <h5 class="text-white mb-3">Reset your password !</h5>
        <form [formGroup]="userForm">
            <div class="form-floating mb-2">
                <input type="password" (keyup)="checkPasswords()" class="form-control" formControlName="password" id="floatingInput1" placeholder=" ">
                <label for="floatingInput">New Password</label>
            </div>
            <div class="form-floating mb-2">
                <input type="password" (keyup)="checkPasswords()" class="form-control" formControlName="confirmPassword" id="floatingInput2" placeholder=" ">
                <label for="floatingInput">Confirm Password</label>
            </div>
            <button type="submit" class="btn btn-secondary w-100 py-3" [disabled]="userForm.invalid || !same"
                (click)="resetPassword()">Reset</button>
            <button class="btn w-100 py-3 text-white mt-3" [routerLink]="['/login']">Cancel</button>
        </form>
    </div>
</section>