.badge {
  background-color: #0BBCA1 !important;
}
.badge-approved {
  background-color: #0bbc2e !important;
}
.badge-rejected {
  background-color: #bc0b0bfa !important;
}
.badge-submitted {
  background-color: #0b69bc !important;
}

