@import "style.scss";
.white-box {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    background-color: var(--background);
    height: 50%;
    top: 50%;
    transform: translateY(-50%);
    width: 3px;
    border-radius: 50px;
  }
}

