.btnSelected {
  background-color: #2F8BE6 !important;
  color: white !important;
}

.slotContainer {
  max-height: 290px !important;
  overflow-y: auto !important;
}

@media print {
  .dvalue {
    color: black !important;
  }

  .emptySlot {
    display: none !important;
  }

  .pieckerApp {
    display: none !important;
  }
}
