.heading{
  p{
    font-size: 12px;
    color: #848484;
  }
}
.badge-approved {
  background-color: #0bbc2e !important;
}
.badge-rejected {
  background-color: #bc0b0bfa !important;
}
.badge-submitted {
  background-color: #0b69bc !important;
}
.badge-created {
  background-color: #1256d3 !important;
}
.badge-assigned {
  background-color: #a1bc0b !important;
}
.badge-pending {
  background-color: #ff8156 !important;
}
