<section class="forgot">
  <div class="w-100">
    <div class="logo">
      <img src="assets/img/logo.png" alt="logo">
    </div>
    <h5 class="text-white mb-3">{{'Forgot_password' | translate}}</h5>
    <form [formGroup]="userForm">
      <div class="form-floating mb-2">
        <input type="email" class="form-control" formControlName="email" id="floatingInput" placeholder=" ">
        <label for="floatingInput">{{'Email_address' | translate}}</label>
      </div>
      <div *ngIf="f.email.touched && (f.email.errors?.required)" class="text-danger text-start mt-2 font-12">
        {{'Required' | translate}}
      </div>
      <div *ngIf="f.email.touched && (f.email.errors?.email)" class="text-danger text-start mt-2 font-12">
        {{'Email_Not_Valid' | translate}}
      </div>
      <div class="form-help mb-4" *ngIf="linkSent == true">
        {{'resetPass' | translate}}
      </div>

      <button type="submit" class="btn btn-secondary w-100 py-3" [disabled]="userForm.invalid" (click)="onSubmit()">{{'Reset' | translate}}</button>
      <button class="btn w-100 py-3 text-white mt-3" [routerLink]="['/login']">{{'Cancel' | translate}}</button>
    </form>
  </div>
</section>
