<section class="forgot">
  <div class="w-100">
    <div class="logo">
      <img src="assets/img/logo.png" alt="logo">
    </div>
    <h5 class="text-white mb-3">Forgot your password?</h5>
    <form [formGroup]="userForm">
      <div class="form-floating mb-2">
        <input type="email" class="form-control" formControlName="email" id="floatingInput" placeholder=" ">
        <label for="floatingInput">Email address</label>
      </div>
      <div *ngIf="f.email.touched && (f.email.errors?.required)" class="text-danger text-start mt-2 font-12">
        This Is Required
      </div>
      <div *ngIf="f.email.touched && (f.email.errors?.email)" class="text-danger text-start mt-2 font-12">
        Email Not Valid
      </div>
      <div class="form-help mb-4" *ngIf="linkSent == true">
        We have sent reset password link to your email address click on the link to enter your new password
      </div>

      <button type="submit" class="btn btn-secondary w-100 py-3" [disabled]="userForm.invalid" (click)="onSubmit()">Reset</button>
      <button class="btn w-100 py-3 text-white mt-3" [routerLink]="['/login']">Cancel</button>
    </form>
  </div>
</section>
