<section class="main pb-5">
  <div class="section-heading">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <div class="d-flex">
          <img src="assets/img/icons/arrow-left-icon.svg" alt="back" class="me-3 rotateRtl"
            [routerLink]="[assetId ? '/page/assets/details' : '/page/home/category/'+params?.categoryId]"
            [queryParams]="assetId ? {assetId:assetId} : {name:params?.categoryName}"
            routerLinkActive="router-link-active">
          <h4>
            {{params?.listName}}
          </h4>
        </div>
      </div>
      <div>
        <img src="assets/img/icons/search-icon.svg" alt="search" [routerLink]="['/page/search']"
          routerLinkActive="router-link-active">
      </div>
    </div>
  </div>

  <div class="c-tabs">
    <div class="item " [class.active]="step == 1" (click)="change(1)">
      <div class="d-flex align-items-center justify-content-center ">
        <p>
          {{'Pending' | translate}}
        </p>
        <b class="badge ms-2" *ngIf="pendingItems.length">{{pendingItems.length}}</b>
      </div>
    </div>
    <div class="item " [class.active]="step == 2" (click)="change(2)">
      <div class="d-flex align-items-center justify-content-center">
        <p>
          {{'Completed' | translate}}
        </p>
      </div>
    </div>
  </div>
  <div *ngIf="step == 1" [@slideInOut1]>
    <app-pending [items]="pendingItems" [access]="access" (date)="filterPending($event)"></app-pending>
  </div>
  <div *ngIf="step == 2" [@slideInOut2]>
    <app-completed [items]="completeItems" [access]="access" (date)="filterComplete($event)"></app-completed>
  </div>
  <div *ngIf="access && access.includes(accessTypes.Create)" class="fixed-btn" data-bs-toggle="modal"
    data-bs-target="#newModal">
    <img src="assets/img/icons/add.svg" alt="add">
  </div>

  <a (click)="scrollToTop()" class="
  back-to-top-icon
  rounded-xs
  back-to-top-icon-circle
  bg-highlight
  shadow-m
" style="transform: scale(1); position: fixed !important">
    <img src="assets/img/icons/icons8-up-24.png" alt="add">
    <!-- <img src="assets/img/icons/up-arrow.svg" alt="add"> -->
    <!-- <svg class="bi bi-arrow-up"></svg> -->
    <!-- Up -->
    <!-- <img src="assets/img/icons/home-icon.svg" alt="home"> -->
    <!-- <i class="fa fa-angle-up"></i> -->
  </a>
  <div *ngIf="isLoading" class="loader">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</section>

<div class="modal fade" id="newModal" tabindex="-1" aria-labelledby="deleteLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-center p-2 ">
        <h5 class="modal-title" id="deleteLabel">{{'Start_new' | translate}} {{params?.listName}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-floating ">
          <input type="text" class="form-control" id="floatingInput" placeholder="Name" [(ngModel)]="formRef"
            name="formRef">
          <label for="floatingInput"> {{'Record_reference' | translate}}</label>
        </div>

        <div class="d-flex justify-content-between align-items-center">
          <button type="button" class="btn btn-primary w-100 mt-4" data-bs-dismiss="modal"
            [routerLink]="['/page/checklist/'+id]" [queryParams]="{editMode: false}"
            routerLinkActive="router-link-active" [queryParams]="{editMode: false ,formRef:formRef}"
            [disabled]="!formRef">{{'Start' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>