/* You can add global styles to this file, and also import other style files */
// @import "./styles/bootstrap/css/bootstrap.min.css";
// @import '~font-awesome/css/font-awesome.min.css';
// @import "~jsoneditor/dist/jsoneditor.min.css";
// @import "~@davebaol/angular-formio-editor/styles.css";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";


@import "../node_modules/angular-calendar/css/angular-calendar.css";

@import "assets/scss/style.scss";

@font-face {
  font-family: "avenir-heavy";
  src: url("assets/vendor/avenir_ff/avenir_heavy.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "avenir-black";
  src: url("assets/vendor/avenir_ff/avenir_black.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "avenir-medium";
  src: url("assets/vendor/avenir_ff/avenir_medium.ttf");
  font-weight: 600;
}

body {
  // font-family: "avenir-heavy";
  color: $text;
  background-color: #F2FBFD;
  font-family: Montserrat, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
  font-weight: 600 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
  font-weight: 600 !important;
  margin: 0;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #079e16;
}

.mat-slide-toggle-content {
  font-family: "avenir-heavy";
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 6px;
  padding-bottom: 2px;
}

p {
  margin: 0;
}

html,
body {
  height: 100%;
}

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, border-radius .15s ease;
  margin-top: 15px;
  margin-bottom: 7px;
}

@media print {

  .app-sidebar,
  .hide-in-print,
  button[type="submit"],
  button[type="button"] {
    width: 0;
    display: none;
  }

  .main-panel .main-content {
    margin: 0 !important;
  }

  .print-only {
    display: block;
  }
}

div.formio-form ul.formio-wizard-nav-container li {
  display: inline !important;
}

.table-borderless {
  tbody {
    tr {

      td,
      th {
        border: 0;
      }
    }
  }
}