<nav>
  <ul>
    <li>
      <a [routerLink]="['/page/home']" routerLinkActive="active">
        <img src="assets/img/icons/home-icon.svg" alt="home">
      </a>
    </li>
    <li>
      <a [routerLink]="['/page/calendar']" routerLinkActive="active">
        <span class="dots"></span>
        <img src="assets/img/icons/calendar-icon.svg" alt="calendar">
      </a>
    </li>
    <li>
      <a [routerLink]="['/page/notification']" routerLinkActive="active">
        <span class="dots"></span>
        <img src="assets/img/icons/notification-icon.svg" alt="notification">
      </a>
    </li>
    <li>
      <a [routerLink]="['/page/profile']" routerLinkActive="active">
        <img src="assets/img/icons/user-icon.svg" alt="user">
      </a>
    </li>
  </ul>
</nav>
