<nav>
  <ul>
    <li>
      <a [routerLink]="['/page/home']" (click)="updateCounts()" routerLinkActive="active">
        <img src="assets/img/icons/home-icon.svg" alt="home">
      </a>
    </li>
    <li>
      <a [routerLink]="['/page/calendar']" (click)="updateCounts()" routerLinkActive="active">
        <!-- <span class="dots"></span> -->
        <img src="assets/img/icons/calendar-icon.svg" alt="calendar">
      </a>
    </li>
    <li>
      <a [routerLink]="['/page/workflow']" (click)="updateCounts()" routerLinkActive="active">
        <!-- <span class="dots"></span> -->
        <img src="assets/img/icons/workflow.svg" alt="workflow">
        <span class="number" *ngIf="count">{{count}}</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/page/assets']" (click)="updateCounts()" routerLinkActive="active">
        <img src="assets/img/icons/assets.png" width="22px" height="22px" alt="assets">
      </a>
    </li>
    <li>
      <a [routerLink]="['/page/profile']" (click)="updateCounts()" routerLinkActive="active">
        <img src="assets/img/icons/user-icon.svg" alt="user">
      </a>
    </li>
  </ul>
</nav>